version: 2.1

jobs:
  update_data:
    docker:
      - image: circleci/python:3.6.4
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install beautifulsoup4 requests pprint
      - run:
          name: Update data
          command: |
            . venv/bin/activate
            python get_ranking.py
            python ranking_br.py
      - run:
          name: Commit data back to Github
          command: |
            git config user.email "joaorb64@gmail.com"
            git config user.name "joaorb64"
            DATE_TODAY=$(date +"%Y-%m-%d")
            git pull origin master
            git commit -am "[skip ci] Updating Data ${DATE_TODAY}" --allow-empty
            git push origin master

workflows:
  daily_data_update:
    triggers:
      - schedule:
          cron: "0 */12 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - update_data
